<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alarmclock.administrator.alarmclock">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alarmclock.administrator.alarmclock.SignUpActicity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alarmclock.administrator.alarmclock.SignUpActicity" />
        </activity>
        <activity
            android:name="com.alarmclock.administrator.alarmclock.Nav_drawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alarmclock.administrator.alarmclock.Nav_drawer" />
        </activity>

        <activity android:name="com.alarmclock.administrator.alarmclock.searchActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alarmclock.administrator.alarmclock.searchActivity" />
        </activity>
        <activity android:name="com.alarmclock.administrator.alarmclock.repeatAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alarmclock.administrator.alarmclock.repeatAlarm" />
        </activity>
    </application>

</manifest>